:root {
  scrollbar-color: #ad880e;
  scrollbar-width: 5px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 40%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ad880e;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

body {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  background-image: linear-gradient(75deg, green 0%, orange 75%, yellow 100%);
}

h1,
h2 {
  font-family: "Dela Gothic One", cursive;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 33%;
}

.navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: orange;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  gap: 5rem;
}

@media (max-width: 28.75em) {
  .nav-list {
    margin: 0 1rem;
    gap: 1rem;
  }
  #andrew {
    padding-top: 13rem;
  }
}

.nav-list a {
  display: block;
  font-size: 4rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: rgb(186, 124, 8);
}

.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.intro > p {
  font-size: 3rem;
  font-weight: 200;
}
.tech-section {
  text-align: center;
  padding: 10vh 0;
}
.tech-section h2 {
  margin: 0 auto 50px;
}
.tech-container {
  display: flex;
  justify-content: center;
}

.tech-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 3.5rem;
  gap: 20px;
}
.tech-image {
  height: 50px;
  width: 50px;
}
.project-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-description {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  .projects-description {
    font-size: 4rem;
  }
  .tech-section {
    padding: 20px 0;
  }
}

.separator {
  height: 5px;
  width: 98vw;
  margin: 0 auto;
  background-color: black;
}

.projects-grid {
  display: grid;
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .project-section {
    padding: 6rem 1rem;
  }
  .welcome-section {
    grid-template-columns: 1fr;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.first-project {
  background: url(./images/1st-proj.png);
}

.second-project {
  background: url(./images/2nd-proj.png);
}

.third-project {
  background: url(./images/3rd-proj.png);
}

.fourth-project {
  background: url(./images/4th-proj.png);
}

.fifth-project {
  background: url(./images/5th-proj.png);
}
.sixth-project {
  background: url(./images/6th-proj.png);
}
.project-container {
  width: 80%;
  margin: 0 auto;
}
.project {
  position: relative;
  border-radius: 2px;
  height: 50rem;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: filter 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.project:hover::before {
  opacity: 1;
}

.project:hover .project-info {
  display: flex;
}

.project-info {
  display: none;
  gap: 20px;
  z-index: 1;
}

.project-info button {
  font-family: "Inconsolata", monospace;
}

.project-info * {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #4f8b00;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 3.5rem;
}

.project-title {
  font-size: 4rem;
  padding: 2rem 0.5rem;
  border: 5px solid black;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 3rem;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: lightgreen;
}

.btn-show-all > i {
  margin-left: 10px;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95vh;
  padding: 0 2rem;
  background: yellowgreen;
}

.contact-description > h2 {
  font-size: 7rem;
}

.contact-description > p {
  font-size: 4rem;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 15%;
}

.contact-details {
  font-size: 4rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: scaleY(1.5);
}

.contacts p {
  font-size: 5rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 1280px;
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content p {
  text-align: left;
}

.modal-button {
  display: inline-block;
  padding: 2rem 4rem;
  background-color: #4f8b00;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
}

footer {
  background-color: green;
}

@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  .welcome-section {
    height: auto;
    min-height: 100vh;
  }
  /* .project:hover .project-info {
    display: none;
  } */
  #andrew {
    font-size: 5rem;
  }
  .project-info.show {
    display: flex;
  }
  .project-container {
    width: 90%;
  }
  .project {
    height: 25rem;
    margin-bottom: 2rem;
  }
  .project-info * {
    padding: 1.5rem;
    font-size: 2rem;
  }
  .contact-description > h2 {
    font-size: 3.5rem;
  }

  .contact-description > p {
    font-size: 2rem;
  }
  .contacts p {
    font-size: 3rem;
  }
  .modal-content {
    font-size: 2rem;
  }
  .modal-button {
    padding: 1rem 2rem;
  }
}
